<div class="container">
  <form [formGroup]="this.dateForm" class="mt-3">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
        placeholder="name@example.com"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>

    <label for="daterange">Date range</label>
    <div class="form-group">
      <input
        type="text"
        placeholder="Click to select a date range"
        class="form-control"
        formControlName="dateRange"
        #daterangepicker="bsDaterangepicker"
        bsDaterangepicker
        [maxDate]="maxDate"
        [bsConfig]="{
          rangeInputFormat: 'DD-MMM-YYYY',
          dateInputFormat: 'DD-MMM-YYYY',
          showWeekNumbers: false,
          containerClass: 'theme-dark-blue',
          isAnimated: true
        }"
        (bsValueChange)="onValueChange($event)"
      />
    </div>

    <button class="btn btn-warning" type="reset" (click)="clearForm()">
      Clear
    </button>
  </form>

  <hr />

  <div class="date-range-response-block">
    <label>The date range selected is: </label>
    <pre>
      <p *ngFor="let date of dateRangeFromTo">{{ date | date: 'yyyy-MM-dd' }}</p>
    </pre>
    <hr />
    <pre>{{ this.dateForm.value | json }}</pre>
    <p>Open console to see the dates formatted in TS code.</p>
  </div>
</div>
